* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--btn-border-color: rgba(5, 50, 255, 0.6);
	--btn-border-color-hover: rgba(5, 50, 255, 0.905);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ada996; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#eaeaea,
		#dbdbdb,
		#f2f2f2,
		#ada996
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 80%;
	margin: 1.5rem auto;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0;
}
.image-wrapper img {
	width: 100%;
}

h1 {
	margin-bottom: 1rem;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
}
p {
	font-size: 20px;
	text-align: center;
}

.generator-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.generator-property {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.generator-form-input {
	width: 260px;
	height: 38px;
	padding: 5px;
	border-radius: 6px;
	border: 2.5px solid var(--btn-border-color);
	letter-spacing: 0.2px;
	overflow: hidden;
}

.generator-form-icons {
	position: relative;
	display: flex;
	align-items: center;
	width: 26px;
	height: 26px;
}

.fa-copy {
	position: absolute;
	margin-left: -25px;
	font-size: 20px;
	transition: 0.3s;
	cursor: pointer;
}
.fa-copy:hover {
	transform: scale(1.1);
}
.generator-password-btn {
	flex-basis: 100px;
	padding: 10px 15px;
	color: #fff;
	background-color: var(--btn-border-color);
	border: none;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
	cursor: pointer;
}
.generator-password-btn:hover {
	background-color: rgba(5, 50, 255, 0.705);
	transform: scale(1.1);
}

.generator-length {
	flex-direction: column;
	justify-content: space-around;
}
h3 {
	margin-bottom: 0.6rem;
	font-size: 22px;
	letter-spacing: 0.2px;
}
.generator-length-value {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.generator-length-value input[type='number']::-webkit-outer-spin-button,
.generator-length-value input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.generator-length-value input {
	-moz-appearance: textfield;
	width: 40px;
	margin: 0 0.5rem;
	padding: 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 2.5px solid var(--btn-border-color);
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.2px;
	transition: 0.3s;
	outline: none;
}
.generator-length-value input[type='number']:focus {
	border: 2.5px solid var(--btn-border-color-hover);
}

.generator-length-sub,
.generator-length-add {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 2.5px solid var(--btn-border-color);
	border-radius: 50%;
	font-size: 15px;
	transition: 0.3s;
	cursor: pointer;
}
.fa-plus,
.fa-minus {
	position: absolute;
	font-size: 15px;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

.generator-length-sub:hover,
.generator-length-add:hover {
	border: 2.5px solid var(--btn-border-color-hover);
	transform: scale(1.1);
}

.generator-chars {
	flex-direction: column;
	justify-content: space-around;
}
.generator-chars-used {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
.generator-chars-used-checkbox label {
	margin-left: 3px;
}
.generator-chars-used input[type='checkbox'] {
	height: 16px;
	width: 16px;
	background-color: transparent;
	border: 2.5px solid var(--btn-border-color);
	border-radius: 4px;
	transition: 0.4s;
	appearance: none;
	cursor: pointer;
}
.generator-chars-used input[type='checkbox']:hover {
	border: 2.5px solid var(--btn-border-color-hover);
}
.generator-chars-used input:checked[type='checkbox'] {
	width: 8px;
	border: none;
	border-radius: 0px;
	border-right: 2px solid var(--btn-border-color-hover);
	border-bottom: 2px solid var(--btn-border-color-hover);
	transform: rotate(45deg);
}
.generator-security {
	flex-direction: column;
	justify-content: space-around;
}
.generator-security-status {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 15px;
	gap: 8px;
	color: #fff;
	border-radius: 6px;
}
.generator-security-status p {
	font-size: 16px;
	font-weight: 600;
}
.fa-meh,
.fa-frown,
.fa-smile,
.fa-grin-stars {
	font-size: 22px;
}
